<!DOCTYPE html>
<html>
  <head>
    <title>I changed this and now I can't remember what it was</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="http://www.cs.sonoma.edu/~haderman/">CS355</a>
    <br/><a href="/staticfile.html">Relative Link Example</a>
    <br/><a href="http://localhost:3000/staticfile.html">Absolute Link Example</a>
    <br/><a href="/template_example?first_name=Adam&last_name=Miller">Template Example</a>
    <br/><a href="/resume?first_name=Adam&last_name=Miller&major=Computer Science">Lab Credit</a>
    <p>Welcome to <%= title %> <%= subtitle %></p>
  </body>
</html>
